/*@import url("https://fonts.googleapis.com/css2?family=Joan&display=swap");*/
@fontface {
  font-family: "Joan", serif;
  src: url("https://fonts.googleapis.com/css2?family=Joan&display=swap");
}

body {
  font-family: "Bungee Inline", cursive;
}
